*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: none;
}
.nav-container{
    width: 100%;
    background-color: #242582;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}
.logo{
    color: white;
    display: inline-block;
    margin-left: 450px;
    text-shadow: 0px 5px white;
}
.material-icons.md-24 { 
  font-size: 24px; 
}
.material-icons.md-light {
  color: rgba(255, 255, 255, 1); 
}
.material-icons .md-dark{
  background-color: rgba(0, 0, 0, .54);
}
.contacts{
  width: 100%;
  text-align: center;
  padding: 10px;
}
.dropbtn {
    background-color: #242582;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.menu-icon{
    display: none;
    float:right;
}
.more_vert{
    float: right;
    margin-right: 30px;
}
.search-icon{
    float: right;
    margin-right: 15px;
}
.account{
  float: right;
  margin-right: 10px;
}
  @media screen and (max-width:500px){
    .menu-icon{
    display: inline-block;
    margin-right: 20px;
    }
    .more_vert{
        display: none;
    }
    .logo{
        display: none;
    }
    .slide-image{
      max-width: 400px;
      height: auto;
    }
  }
  @media screen and (max-width:1000px){
      .logo{
        display: none;
      }
  }
 
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 .author-image-container{
   width: 100%;
   display: grid;
   place-items: center;
 }
 .author-image{
   border-radius: 50%;
 }
 .article{
   width: 90%;
   margin: auto;
 }
 .articles-table{
   border: 1px solid rgba(0, 0, 0, .7);
   margin-bottom: 20px;
   padding-left: 5px;
 }
 .recent-article{
   margin-right: 30px;
   margin-bottom: 20px;
   display: inline-block;
 }
 .recent-articles-table{
  border: 1px solid rgba(0, 0, 0, .7);
 }
  h1{
    font-family: 'Montserrat', sans-serif;
  }
  p{
    font-family: 'Mulish', sans-serif;
  }
  h4,h2{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
.space1,.space2,.space3{
    height: 100px;
}

 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(255, 255, 255, .9);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
  transition: margin-left .5s;
  padding: 20px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

#loader{
  display: none;
}
.loader {
  margin-left: 50%;
  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin .7s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* slide show images */
#slideshow-example{
  width: 100%;
  display: grid;
  place-items: center;
}
.slide{
  position: relative;
}
.slide-image{
  max-width: 800px;
  height: 500px;
  opacity: .9;
}
.slide-image:hover{
  opacity: 1;
}
[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

.slide-show-images-info{
  position: absolute;
  left: -100px;
  bottom: -100px;
  width: 500px;
  background-color: rgba(230, 230, 230);
  /* border-radius: 30px; */
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}
.slide-show-images-info-btn{
  padding: 20px;
  border-radius: 30px;
  background-color: black;
  color: white;
  border: none;
  margin: 5px 0px 0px 0px;
  float: right;
}
.slide-show-images-info-btn:hover{
  background-color: #242582;
}
  .recent-articles{
    padding: 10px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    background-color: rgba(230, 230, 230);
  }

  .Featured-posts-title,.popular-posts-title{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
  }
  .featured-posts,.popular-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .featured-posts > div,.popular-posts > div{
    background-color: #f1f1f1;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    height: 300px;
  }
  .featured,.popular{
    position: relative;
  }
  .feature-text,.popular-text{
    position: absolute;
    left: 5px;
    bottom: 25px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    color: rgba(0, 0, 0, .8);
  }
  .featured-politics-img,.featured-fashion-img,.featured-sports-img,.featured-music-img{
    width: 100%;
    height: 80%;
    opacity: .9;
  }
  .popular-politics-img,.popular-fashion-img,.popular-sports-img,.popular-music-img{
    width: 100%;
    height: 80%;
    opacity: .9;
  }
  .featured-politics-img:hover,.featured-fashion-img:hover,.featured-sports-img:hover,.featured-music-img:hover{
    opacity: 1;
  }
  .popular-politics-img:hover,.popular-fashion-img:hover,.popular-sports-img:hover,.popular-music-img:hover{
    opacity: 1;
  }

  
